<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title}}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
          tex: {
            inlineMath: [['\\(', '\\)']], // Для встроенных формул
            displayMath: [['\\[', '\\]']], // Для формул на отдельной строке
          },
          options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'], // Игнорировать эти теги
          },
          svg: {
            fontCache: 'global' // Улучшает производительность
          }
        };
        </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <div class="bg-video">
        <video autoplay muted loop playsinline>
          <source src="/images/waves.mp4">
        </video>
      </div>
      <div class="video-overlay"></div> -->
     <!-- Кнопка "Назад" -->
    <a href="javascript:history.back()" class="back-button" id="back-button">
        <i class="ri-arrow-drop-left-line"></i>
    </a>
    <!-- menu -->
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
           <li class="nav__item">
              <a href="/" class="nav__link active-link">Home</a>
           </li>

           <li class="nav__item">
              <a href="/me/" class="nav__link">About</a>
           </li>

           <li class="nav__item">
              <a href="/links/" class="nav__link">Links</a>
           </li>

        </ul>

        <!-- Close button -->
        <div class="nav__close" id="nav-close">
           <i class="ri-close-line"></i>
        </div> 
     </div>
     <!-- Toggle button -->
     <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-5-line"></i>
     </div>
    <!-- avatar -->
    <div class="author">
        <a href="/">
        <img class="author-avatar" src="/images/ava.jpeg">
        </a>
    </div>
    <div class="clearfix">
    <div class="col12 md:col8 lg:col6 mxauto pl2 pr2">
    <div class="post">    
        {{ partial "navbar" . }}
        {{ block "main" . }} {{ end }} 
        {{ partial "footer" . }} 
    </div>
    </div>
    </div>
    <script>
        /*=============== Показать кнопку наверх ===============*/ 

        document.addEventListener('DOMContentLoaded', () => {
    const backButton = document.getElementById('back-button');

    if (backButton) {
        // Если главная страница — скрываем кнопку
        if (window.location.pathname === '/' || window.location.pathname === '/index.html') {
            backButton.classList.add('hidden');
        } else {
            backButton.classList.remove('hidden');
        }
    }
});
        
let scrollUp = () =>{
	const scrollUp = document.getElementById('scroll-up')
	this.scrollY >= 350 ? scrollUp.classList.add('show-scroll')
						: scrollUp.classList.remove('show-scroll')
}
window.addEventListener('scroll', scrollUp)

const navMenu = document.getElementById('nav-menu'),
      navToggle = document.getElementById('nav-toggle'),
      navClose = document.getElementById('nav-close');

/* Menu show */
if (navToggle) {
    navToggle.addEventListener('click', () => {
        document.body.classList.add('show-menu');
    });
}

/* Menu hidden */
if (navClose) {
    navClose.addEventListener('click', () => {
        document.body.classList.remove('show-menu');
    });
}

/* Закрытие меню при клике вне его области */
document.addEventListener('click', (event) => {
    const isClickInsideMenu = navMenu.contains(event.target); // Проверяем, был ли клик внутри меню
    const isClickOnToggle = navToggle.contains(event.target); // Проверяем, был ли клик на кнопке меню

    // Если клик был вне меню и не на кнопке меню, закрываем меню
    if (!isClickInsideMenu && !isClickOnToggle && document.body.classList.contains('show-menu')) {
        document.body.classList.remove('show-menu');
    }
});

const navLinks = document.querySelectorAll('.nav__link');

const setActiveLink = () => {
    const currentPath = window.location.pathname;

    navLinks.forEach(link => {
        const linkPath = new URL(link.href).pathname;

        if (linkPath === currentPath) {
            link.classList.add('active-link');
        } else {
            link.classList.remove('active-link');
        }
    });
};

window.addEventListener('load', setActiveLink);

window.addEventListener('popstate', setActiveLink);

document.addEventListener('DOMContentLoaded', () => {
    const typedContainers = document.querySelectorAll('.typed-container');

    const observer = new IntersectionObserver((entries, obs) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const container = entry.target;
          const typedId = container.querySelector('span').id;
          const stringsEl = container.querySelectorAll('.typed-strings p');

          const strings = Array.from(stringsEl).map(el => el.textContent);

          new Typed(`#${typedId}`, {
            strings,
            typeSpeed: 75,
            backSpeed: 25,
            backDelay: 1500,
            startDelay: 300,
            loop: false,
            showCursor: true,
            cursorChar: '|'
          });

          obs.unobserve(container); // чтобы не запускалось повторно
        }
      });
    }, { threshold: 0.5 }); // Запускаем, когда половина блока в зоне видимости

    typedContainers.forEach(container => observer.observe(container));
  });
    </script>
</body>
</html>