<!--  Подвал сайта  -->
<div class="mt4 h5 text-center">
    <div class="typed-container">
        <span id="typed-111111"></span>
            <div class="typed-strings" style="display: none;">
                <p>
                Подпишись на видео 🤙 <a href="#">YouTube</a>
                </p>
            </div>
        </div>
    <br />
    <a href="/" class="gray no-underline inline-block mx2 mt1 md:mt0">Home</a>
    <a href="/me/" class="gray no-underline inline-block mx2 mt1 md:mt0">About</a>
    <a href="/links/" class="gray no-underline inline-block mx2 mt1 md:mt0">Links</a>
    <br />
    <br />
    <a href="mailto:mail@dxrkd3v@ro.ru" class="gray no-underline inline-block mx2">
        Text me
    </a>
</div>
<br />
<br />
<!--========== Кнопка наверх ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-drop-up-line"></i>
 </a>
<!--<div class="footer">Подвал сайта</div> -->

