<!--  Подвал сайта  -->
<div class="mt4 h5 text-center">
    <a href="/" class="gray no-underline inline-block mx2 mt1 md:mt0">Home</a>
    <a href="/me/" class="gray no-underline inline-block mx2 mt1 md:mt0">About</a>
    <a href="/links/" class="gray no-underline inline-block mx2 mt1 md:mt0">Links</a>
    <br />
    <br />
    <a href="mailto:mail@dxrkd3v@ro.ru" class="gray no-underline inline-block mx2">
        Text me
    </a>
</div>
<br />
<br />
<!--========== Кнопка наверх ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-drop-up-line"></i>
 </a>
<!--<div class="footer">Подвал сайта</div> -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const el = document.getElementById("typewriter");
    if (!el) return;

    const observer = new IntersectionObserver((entries, obs) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          el.classList.add("animate");
          obs.unobserve(el); // запустить один раз
        }
      });
    }, {
      threshold: 0.3
    });

    observer.observe(el);
  });
</script>